%p#notice= notice

%h1= @issue.name

!= RDiscount.new(@issue.description).to_html

%ul
  - @issue.bids.each do |bid|
    %li
      =# link_to bid.bidder.username, bid.bidder
      = "#{bid.bidder.username}: #{bid.min}-#{bid.max}hr @ $#{bid.rate}/hr"
