%p#notice= notice

%p
  %b Time:
  = @bid.time
%p
  %b Bidder:
  = @bid.bidder.email
%p
  %b Amount:
  = @bid.amount
%p
  %b Issue:
  = @bid.issue.description

= link_to 'Edit', edit_bid_path(@bid)
\|
= link_to 'Back', bids_path
