- if not @project
  %p No project
- else
  #project
    %p#notice= notice

    %h1= link_to @project.github_name, 'https://github.com/%s/%s' % [@project.owner.github_name, @project.github_name]

    %p= @project.description

    - if @project.issues.any?
      .row
        .col-xs-offset-1.col-xs-7 Issue
        .col-xs-2 Contributed Estimates
        - if user_signed_in?
          .col-xs-2 Your Estimates
      .row
        .col-xs-offset-8.col-xs-1 Min
        .col-xs-1 Max
        - if user_signed_in?
          .col-xs-1 Min
          .col-xs-1 Max
      - @project.issues.sort_by{ |i| i.milestone.name || 'None' }.group_by(&:milestone).each do |milestone, issues|
        .row
          .milestone.col-xs-12= milestone.name || 'None'
        - issues.each do |issue|
          .row
            .col-xs-offset-1.col-xs-7= link_to issue.name, issue
            .col-xs-1= issue.bids.collect(&:min).min
            .col-xs-1= issue.bids.collect(&:max).max
            - if user_signed_in?
              - bid = issue.bids.where(bidder: current_user).first || Bid.new(issue: issue)
              = form_for bid do |f|
                = f.hidden_field :issue_id
                .col-xs-1= f.text_field :min
                .col-xs-1= f.text_field :max
