%p#notice= notice

%p
  %b Github name:
  = @project.github_name
%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Owner:
  = @project.owner.github_name

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
