%p#notice= notice

%ul
  %li= "Github name: #{@project.github_name}"
  %li= "Name: #{@project.name}"
  %li= "Description: #{@project.description}"
  %li= "Owner: #{@project.owner.github_name}"
  %li
    Issues:
    %ul
      - @project.issues.each do |issue|
        %li= issue.name

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
