== <!DOCTYPE html>
%html{:'xmlns:fb' => 'http://ogp.me/ns/fb#'}
  %head
    %title Volunteers
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "le_1280", media: "screen and (max-device-width: 1280px)"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/d3/3.3.10/d3.min.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png'
  %body
    .navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{ data: { toggle: 'collapse', target: '.navbar-collapse' } }
            %span.sr-only Toggle navigation
            %span.icon-bar
          = link_to root_path, class: 'navbar-brand' do
            = image_tag 'http://dhappy.org/.../image/logo/One%20Acre%20Cafe/', id: 'logo'
            Volunteers
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
            %li{ class: params[:controller] == 'shifts' ? 'active dropdown' : 'dropdown' }
              %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
                Shifts
                %b.caret
              %ul.dropdown-menu
                - if current_user
                  %li.tabled
                    = link_to '', my_shifts_path + "?layout=table", class: [:glyphicon, 'glyphicon-list-alt']
                    = link_to 'View Mine', my_shifts_path, class: :iconed
                %li.tabled
                  = link_to '', shifts_path + "?layout=table", class: [:glyphicon, 'glyphicon-list-alt']
                  = link_to 'View All', shifts_path, class: :iconed
                %li.tabled
                  = link_to '', open_shifts_path + "?layout=table", class: [:glyphicon, 'glyphicon-list-alt']
                  = link_to 'View Open', open_shifts_path, class: :iconed
                %li= link_to 'Schedule', schedule_shifts_path
                - if can? :create, Shift or can? :destroy, Shift
                  %li.divider
                - if can? :create, Shift
                  %li= link_to 'New', new_shift_path
                  %li= link_to 'Clone', clone_shifts_path
                - if can? :destroy, Shift
                  %li= link_to 'Delete', delete_shifts_path

            - if can? :read, Drop
              %li{ class: params[:controller] == 'drops' ? 'active dropdown' : 'dropdown' }
                %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
                  Drops
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'List', drops_path
                  - if can? :create, Drop
                    %li= link_to 'New', new_drop_path

            - if can? :read, Task
              %li{ class: params[:controller] == 'tasks' ? 'active dropdown' : 'dropdown' }
                %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
                  Tasks
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'List', tasks_path
                  - if can? :create, Task
                    %li= link_to 'New', new_task_path

            - if can? :read, User
              %li{ class: params[:controller] == 'users' ? 'active dropdown' : 'dropdown' }
                %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' } }
                  Users
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'List', users_path
                  - if can? :create, User
                    %li= link_to 'New', new_user_path
                  - if current_user.try(:role?, :admin)
                    %li= link_to 'Roles', roles_path

            %li{ class: (params[:controller] == 'pages' and params[:action] == 'about') ? 'active' : nil }
              = link_to 'About', about_path

          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to current_user.full_name, edit_user_registration_path
              %li= link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign Up", new_user_registration_path
              %li= link_to "Login", new_user_session_path
    #body.container
      %p#notice.alert.alert-info.hide= notice
      %p#alert.alert.alert-danger.hide= alert

      = yield
