== <!DOCTYPE html>
%html{:'xmlns:fb' => 'http://ogp.me/ns/fb#'}
  %head
    %title Crowdfund
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    =# favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png'
  %body
    %p#notice.alert.alert-info.hide= notice
    %p#alert.alert.alert-danger.hide= alert

    %ul
      - if user_signed_in?
        %li= link_to current_user.full_name, edit_user_registration_path
        %li= link_to "Logout", destroy_user_session_path, method: :delete
      - else
        %li= link_to "Sign Up", new_user_registration_path
        %li= link_to "Login", new_user_session_path

    = yield
